@import "main.css";

/* #FFF9E1 */
/* #A3D5D0 */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.attitude__items{
    list-style: none;
    top: 120px;
    left: 10px;
    position: absolute;
}
.attitude_item{
    margin: 5px 10px 0 50px;
    font-size: 1.5em;
    position: relative;
}
.attitude_item::before{
    content: "";
    position: absolute;
    top: 16px;
    left: -55px;
    width: 50%;
    height: 5%;
    background-color: blue;
}
#world_attitude::before{
    background: green;
}
#war_attitude::before{
    background: red;
}
.content{
    display: flex;
    justify-content:center;
    align-items: center;
}
@media(max-height: 1920px) and (min-height: 670px){
    canvas{
        width: 705px;
        height: 505px;
    }
}
@media(max-height: 670px) and (min-height: 525px){
    canvas{
        width: 530px;
        height: 379px;
    }
}
@media(max-height: 525px) and (min-height: 300px){
    *{
        font-size: 15px;
    }
    canvas{
        width: 353px;
        height: 253px;
    }
    .attitude_item::before{
        top: 8px;
        left: -40px;
    }
}


