@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Work+Sans:ital,wght@1,200&display=swap');
@import "main.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 20px;
}

.wrapper{
    min-width: 100%;
    position: relative; 
    overflow: hidden;
}

.main{
    margin: 0px auto;
}

.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabs__menu{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.tabs__items{
    width: 100%;
    padding: 10px;
    max-width: 1000px;
}
.tabs_item{
    flex: 0 1 33.3%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.tabs_item span{
    font-size: 25px;
    color: coral;
    text-transform: uppercase;
}
.tabs__body{
    width: 100%;
    min-height: 32vw;
}
.tabs__block{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
    line-height: 24px;
    text-align: center;
    display: none;
    position: relative;
    
}
.wrapper__canvas{
    display: inline-block;
    width: 400px;
    height: 400px;
}
#pie_income{
    width: 100%;
    height: 100%;


}
/* .tabs__block::before{
    content: "";
    width: 290px;
    height: 4px;
    top: -13px;
    background-color: black;
    position: relative;
} */
.tabs__block:target{
    display: block;
}
/* .tabs__block:nth-child(1)::before{
    display: block;
    width: 290px;
    left: 0;
}
.tabs__block:nth-child(2)::before{
    display: block;
    width: 110px;
    left: 490px;
}
.tabs__block:nth-child(3)::before{
    display: block;
    width: 130px;
    left: 880px;
} */
@media(max-width: 915px) {
    .tabs_item span{
        width: 120px;
        font-size: 20px;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }
}