@import "main.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 20px;
}

.wrapper{
    min-width: 100%;
    position: relative; 
    overflow: hidden;
}

.main{
    margin: 0px auto;
}

.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabs__menu{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.tabs__items{
    width: 100%;
    padding: 10px;
    max-width: 1000px;
}
.tabs_item{
    flex: 0 1 33.3%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.tabs_item span{
    font-size: 1.3em;
    color: coral;
    text-transform: uppercase;
    text-align: center;
}
@media(min-height: 540px) and (max-height: 1920px){
    .tabs__body{
        width: 100%;
        min-height: 20vh;
        max-height: 60vh;   
        overflow-y: auto;
        overflow-x: hidden;
    }
}
@media(min-height: 300px) and (max-height: 540px) {
    .tabs__body{
        width: 100%;
        min-height: 8vh;
        max-height: 60vh;   
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.tabs__body::-webkit-scrollbar{
    width: 8px;
}
.tabs__body::-webkit-scrollbar-track {
    background-color: #bed1cd;
    border-radius: 5px;
}
.tabs__body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #98c6d4;
    
}
.tabs__block{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    line-height: 24px;
    display: none;
    position: relative;
}
@media (max-height: 2000px) and (min-height: 410px){
    .tabs__block{
        padding: 20px 0;
    }
}
@media (max-height: 410px) and (min-height: 100px){
    .tabs__block{
        padding: 5px 0;
    }
}
/* Общие сведения */
.canvas{
    min-width: 200px;
    height: 200px;
}
.wrapper_date{
    display: flex;
    justify-content: center;
}
@media(max-height: 1920px) and (min-height: 540px){
    #line_sold_w{
        min-width: 450px;
        min-height: 200px;
        text-align: center;
    }
    .wrapper_canvas__content{
        display: inline-block;
        min-width: 200px;
        min-height: 200px;
        width: 25%;
        height: 25%;
    }
    .canvas_size{
        height: 200px;
    }
}
@media(max-height: 540px) and (min-height: 200px){
    #line_sold_w{   
        min-width: 300px;
        min-height: 150px;
        text-align: center;
    }
    .wrapper_canvas__content{
        display: inline-block;
        min-width: 180px;
        min-height: 180px;
        width: 25%;
        height: 25%;
    }
    .canvas_size{
        height: 150px;
    }
}

.wrapper__canvas{
    display: flex;
    min-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Здания */
.buildings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__buildings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.building__info{
    position: relative;
    min-width: 25%;
    display: grid;
    grid-row: 6;
    grid-column: 2;
    background-color: white;
    padding: 1em;
    border-radius: 20px;
    margin: 10px 10px;
}
.building__info[value*="food"]::before{
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    height: 12px;
    border-radius: 20px 20px 0 0;
    background-color: #376B0D;
}
.building__info[value*="solders"]::before{
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    height: 12px;
    border-radius: 20px 20px 0 0;
    background-color: red;
}
.building_title{
    font-size: 1.1em;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0.2em;
}
.building_img{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.building_img > img{
    width: 65%;
}
ul{
    grid-row-start: 2;
    list-style-type: none;
    grid-column-start: 2;
}
li{
    margin: 0.1em;
    text-align: left;
}
.building_maintext{
    font-weight: 500;
}
#stonks{
    color: #376B0D;
}
/* Торговля */
#cost_upgrade{
    color: #D4A11D;
}
.trade__transfers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
@media (max-height: 2000px) and (min-height: 540px){
    .transfer{
        width: 100%;
        height: 120px;
        background-color: white;
        margin: 20px 0;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-height: 540px) and  (min-height: 300px){
    .transfer{
        width: 100%;
        height: 80px;
        background-color: white;
        margin: 15px 0;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.transfer_country{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.transfer_country > * {
    margin: 0 15px;
}
.transfer_icon{
    width: 67px;
    max-height: 85px;
}

@media (max-height: 2000px) and (min-height: 480px){
    .goods_count{
        font-size: 2.5em;
    }
    .transfer_icon > img{
        max-width: 100%;
    }
}
@media (max-height: 480px) and (min-height: 300px){
    .goods_count{
        font-size: 1.5em;
    }
    .transfer_icon > img{
        max-width: 80%;
    }
}

.trade_direction{
    width: 50px;
    height: 50px;
    background-image: url("../img/double_direction.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.tabs__block:target{
    display: block;
}
@media(max-width: 915px) {
    .tabs_item span{
        width: 120px;
        font-size: 20px;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }
}