@import "main.css";
body{
    overflow: hidden;
}
.main{
    min-width: calc(100% - 2px);
    padding: 0;
}
.wrapper__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper__content > *{
    margin-top: 5px;
}
.map_map{
    min-width: 100%;
    min-height: 34.5vw;
    text-align: center;
    z-index: 0;
    position: relative; 
}